.place-order {
  display: flex;
  gap: 40px;
  padding: 40px 8%;
  background-color: #f9f9f9;
  flex-wrap: wrap;
}

/* LEFT SECTION */
.place-order-left {
  flex: 1;
  background: #fff;
  padding: 30px;
  border-radius: 8px;
}

.place-order-left .title {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 20px;
}

.place-order-left input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  font-size: 14px;
}

.place-order-left input:focus {
  border-color: #ff4c24;
}

.multy-fields {
  display: flex;
  
}

/* RIGHT SECTION */
.place-order-right {
  flex: 0.8;
}

.cart-total {
  background: #fff;
  padding: 30px;
  border-radius: 8px;
}

.cart-total h2 {
  margin-bottom: 20px;
}

.cart-total-details {
  display: flex;
  justify-content: space-between;
  margin: 12px 0;
  font-size: 15px;
}

.cart-total hr {
  border: none;
  border-top: 1px solid #ddd;
}

.cart-total button {
  width: 100%;
  padding: 14px;
  margin-top: 20px;
  background-color: #ff4c24;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
}

.cart-total button:hover {
  background-color: #e2431f;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .place-order {
    flex-direction: column;
    padding: 20px;
  }

  .multy-fields {
    flex-direction: column;
  }
}
